
ExerciciosC\#/.vs/ExerciciosC\#/FileContentIndex/4bbb9317-0467-4412-ac02-f71a0ea79250.vsidx
ExerciciosC\#/.vs/ExerciciosC\#/FileContentIndex/97942d73-338d-4801-af2a-393f904a0b04.vsidx
ExerciciosC\#/.vs/ExerciciosC\#/v17/.suo
ExerciciosC\#/bin/Debug/net8.0/ExerciciosC-Sharp.deps.json
ExerciciosC\#/bin/Debug/net8.0/ExerciciosC-Sharp.dll
ExerciciosC\#/bin/Debug/net8.0/ExerciciosC-Sharp.exe
ExerciciosC\#/bin/Debug/net8.0/ExerciciosC-Sharp.pdb
ExerciciosC\#/bin/Debug/net8.0/ExerciciosC-Sharp.runtimeconfig.json
ExerciciosC\#/bin/Release/net8.0/ExerciciosC-Sharp.deps.json
ExerciciosC\#/bin/Release/net8.0/ExerciciosC-Sharp.dll
ExerciciosC\#/bin/Release/net8.0/ExerciciosC-Sharp.exe
ExerciciosC\#/bin/Release/net8.0/ExerciciosC-Sharp.pdb
ExerciciosC\#/bin/Release/net8.0/ExerciciosC-Sharp.runtimeconfig.json
ExerciciosC\#/ExerciciosC\#.sln
ExerciciosC\#/ExerciciosC-Sharp.csproj
ExerciciosC\#/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC\#.assets.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC\#.AssemblyInfoInputs.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC\#.AssemblyInfo.cs
ExerciciosC\#/obj/Debug/net8.0/apphost.exe
ExerciciosC\#/ExerciciosCSharp.csproj
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC\#.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC\#.GlobalUsings.g.cs
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.AssemblyInfo.cs
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.AssemblyInfoInputs.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.assets.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.csproj.BuildWithSkipAnalyzers
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.csproj.CoreCompileInputs.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.csproj.FileListAbsolute.txt
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.dll
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.genruntimeconfig.cache
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.GlobalUsings.g.cs
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.pdb
ExerciciosC\#/obj/Debug/net8.0/ExerciciosC-Sharp.sourcelink.json
ExerciciosC\#/obj/Debug/net8.0/ref/ExerciciosC-Sharp.dll
ExerciciosC\#/obj/Debug/net8.0/refint/ExerciciosC-Sharp.dll
ExerciciosC\#/obj/ExerciciosC\#.csproj.nuget.dgspec.json
ExerciciosC\#/obj/ExerciciosC\#.csproj.nuget.g.props
ExerciciosC\#/obj/ExerciciosC\#.csproj.nuget.g.targets
ExerciciosC\#/obj/ExerciciosC-Sharp.csproj.nuget.dgspec.json
ExerciciosC\#/obj/ExerciciosC-Sharp.csproj.nuget.g.props
ExerciciosC\#/obj/ExerciciosC-Sharp.csproj.nuget.g.targets
ExerciciosC\#/obj/ExerciciosCSharp.csproj.nuget.dgspec.json
ExerciciosC\#/obj/ExerciciosCSharp.csproj.nuget.g.props
ExerciciosC\#/obj/ExerciciosCSharp.csproj.nuget.g.targets
ExerciciosC\#/obj/project.assets.json
ExerciciosC\#/obj/project.nuget.cache
ExerciciosC\#/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExerciciosC\#/obj/Release/net8.0/apphost.exe
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.AssemblyInfo.cs
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.AssemblyInfoInputs.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.assets.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.csproj.BuildWithSkipAnalyzers
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.csproj.CoreCompileInputs.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.csproj.FileListAbsolute.txt
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.dll
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.genruntimeconfig.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.GlobalUsings.g.cs
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.pdb
ExerciciosC\#/obj/Release/net8.0/ExerciciosC-Sharp.sourcelink.json
ExerciciosC\#/obj/Release/net8.0/ExerciciosCSharp.AssemblyInfo.cs
ExerciciosC\#/obj/Release/net8.0/ExerciciosCSharp.AssemblyInfoInputs.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosCSharp.assets.cache
ExerciciosC\#/obj/Release/net8.0/ExerciciosCSharp.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/obj/Release/net8.0/ExerciciosCSharp.GlobalUsings.g.cs
ExerciciosC\#/obj/Release/net8.0/ref/ExerciciosC-Sharp.dll
ExerciciosC\#/obj/Release/net8.0/refint/ExerciciosC-Sharp.dll
ExerciciosC\#/.vs/ExerciciosC\#/FileContentIndex/b6e66e19-30b4-4d28-a26b-af6db1429f7c.vsidx
*.vsidx
*.v2
*.cache
*.dll
*.exe
*.json
*.BuildWithSkipAnalyzers
ExerciciosC\#/Exercicio01/obj/Exercicio01.csproj.nuget.g.targets
ExerciciosC\#/Exercicio01/obj/Exercicio01.csproj.nuget.g.props
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/Exercicio01.pdb
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/Exercicio01.GlobalUsings.g.cs
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/Exercicio01.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/Exercicio01.csproj.FileListAbsolute.txt
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/Exercicio01.AssemblyInfo.cs
ExerciciosC\#/Exercicio01/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExerciciosC\#/Exercicio01/Exercicio01.sln
ExerciciosC\#/Exercicio01/Exercicio01.csproj
ExerciciosC\#/Exercicio01/bin/Debug/net8.0/Exercicio01.pdb
ExerciciosC\#/Exercicio01/.vs/Exercicio01/v17/.suo
ExerciciosC\#/TreinamentoCSharp/TreinamentoCSharp.csproj
ExerciciosC\#/TreinamentoCSharp/TreinamentoCSharp.sln
ExerciciosC\#/TreinamentoCSharp/obj/TreinamentoCSharp.csproj.nuget.g.targets
ExerciciosC\#/TreinamentoCSharp/obj/TreinamentoCSharp.csproj.nuget.g.props
ExerciciosC\#/TreinamentoCSharp/obj/Debug/net8.0/TreinamentoCSharp.GlobalUsings.g.cs
ExerciciosC\#/TreinamentoCSharp/obj/Debug/net8.0/TreinamentoCSharp.GeneratedMSBuildEditorConfig.editorconfig
ExerciciosC\#/TreinamentoCSharp/obj/Debug/net8.0/TreinamentoCSharp.AssemblyInfo.cs
ExerciciosC\#/TreinamentoCSharp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExerciciosC\#/TreinamentoCSharp/.vs/TreinamentoCSharp/v17/.suo
ExerciciosC\#/Exercicio01/.vs/ProjectEvaluation/exercicio01.projects.v7.bin
ExerciciosC\#/Exercicio01/.vs/ProjectEvaluation/exercicio01.metadata.v7.bin
